/* 
    Site Wide styles
*/

.nav_bar{
    position: fixed;
    width: 100px;
    height: 100%;
    border-right: solid medium black;
}

.content{
    margin-left: 100px;
    padding-left: 10px;
}

.nav_button{
    background: transparent;
    padding: 5px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: solid medium black;
    cursor: pointer;
    
}

/*unordered list db object*/
ul{
    border: black thin solid;
    margin: 5px;
    border-radius: 5px;
    display: inline-table;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.update_form{
    margin: 5px;
    padding: 5px;
    border: black thin solid;
    border-radius: 5px;
    background: lightsteelblue;
}